$white:                             #fff;
$dust:                              #f4f4f4;
$cloud:                             #aaaaaa;
$silver:                            #727272;
$mine:                              #262626;
$black:                             #000000;

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
$textFont:       'Montserrat', Helvetica, Arial, sans-serif;

body {
  margin: 0;
}

#message {
  padding: 50px 30px !important;
  @media only screen and (max-width: 767px) {
    padding: 20px 30px !important;
  }
}

#fchat {
  display: none;
  position: absolute !important;
  bottom: auto !important;
  top: 60px !important;
  left: 0 !important;
  right: auto !important;
  max-width: 100% !important;
  width: 100% !important;
  max-height: 100% !important;
  height: auto !important;
  overflow: visible !important;
  margin-top: 50px !important;
  z-index: 1 !important;
}

#fchat-header {
  display: none !important;
}

#welcome-message {
  display: none !important;
}

.fchat-agent-name {
  font-weight: normal !important;
}

#fchat-feed {
  border: none !important;
  height: auto !important;
  padding: 25px 25px 0 30px !important;
  background: transparent !important;
}

.fchat-question:before {
  content: "You:" !important;
  padding-left: 0px !important;
  padding-right: 15px !important;
}

.fchat-question {
  text-align: left !important;
  margin-left: 0 !important;
  margin-bottom: 15px !important;
}

.fchat-response {
  text-align: left !important;
  margin-left: 0 !important;
  margin-bottom: 15px !important;
}

#fchat-footer {
  border: none !important;
  padding: 0 !important;
  margin-top: 20px !important;
  &:before {
    content: '>' !important;
  }
}

#fchat-message {
  border: none !important;
  color: black !important;
  padding-left: 0px !important;
  width: 85% !important;
  height: 50px !important;
  &:hover, &:focus, &:active {outline: none  !important;}
}

::-webkit-input-placeholder {color: #000; opacity: 0;}
:-moz-placeholder {color: #000; opacity: 0;}
::-moz-placeholder {color: #000; opacity: 0;}
:-ms-input-placeholder {color: #000;}

.sb-slidebar {
  z-index: 10000;
  background: $mine;
  color: $dust;
  line-height: 2.3em;
  padding: 10px 20px;
  font-family: $textFont;
  overflow-y: visible !important;
  label {padding-left: 10px;}
}

.open-menu, .close-menu {
  position: fixed !important;
  top: 0;
  right: 0;
  width: 38px;
  height: 35px;
  background: $mine;
  color: lighten($mine, 25%);
  text-shadow:
    -1px -1px 1px darken($mine, 5%),
    1px -1px 1px darken($mine, 5%),
    -1px 1px 1px darken($mine, 5%),
    1px 1px 1px darken($mine, 5%);
  text-align: center;
  border-left: 1px solid #444;
  border-bottom: 1px solid #444;
  border-bottom-left-radius: 3px;
  i {
    font-size: 23px;
    line-height: 35px;
  }
  &:hover {
    cursor: pointer;
  }
}

.close-menu {
  position: absolute !important;
  right: auto;
  left: -38px;
  z-index: 9999 !important;
}

@import 'themes/developer';
@import 'themes/designer';
@import 'themes/writer';
